<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style type="text/css">
    body{
      background-color: #ccc;
    }
    #drapBox {
      width: 800px;
      height: 800px;
      position: absolute;
      top: 30px;
      left: 30px;
      cursor: move;
    }
    #point {
      width: 10px;
      height: 10px;
      overflow: hidden;
      cursor: se-resize;
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: #09C;
    }
    .pieCharts {
      width: 300px;
      height: 300px;
      background-color: pink;
    }
  </style>
</head>
<body>

<div id="drapBox">
  <div id="pieCharts" class="pieCharts"></div>
  <div id="point"></div>
</div>


<!--引用echart插件-->
<script type="text/javascript" src="../echarts/echarts.js"></script>
<!--引入拖拽插件-->
<script type="text/javascript" src="../js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../js/drag.js"></script>

<script>
  var options = {
    tooltip: {
      trigger: 'item',
      formatter: "{a} <br/>{b}: {c} ({d}%)"
    },
    legend: {
      orient: 'vertical',
      x: 'left',
      data: ['直接访问', '邮件营销', '联盟广告', '视频广告', '搜索引擎']
    },
    series: [
      {
        name: '访问来源',
        type: 'pie',
        radius: ['50%', '70%'],
        avoidLabelOverlap: false,
        label: {
          normal: {
            show: false,
            position: 'center'
          },
          emphasis: {
            show: true,
            textStyle: {
              fontSize: '30',
              fontWeight: 'bold'
            }
          }
        },
        labelLine: {
          normal: {
            show: false
          }
        },
        data: [
          {value: 335, name: '直接访问'},
          {value: 310, name: '邮件营销'},
          {value: 234, name: '联盟广告'},
          {value: 135, name: '视频广告'},
          {value: 1548, name: '搜索引擎'}
        ]
      }
    ]
  };
  let myeacharts = echarts.init(document.getElementById("pieCharts"));
  myeacharts.setOption(options);
</script>
</body>
</html>
